<h2>TinyApp</h2>
<a href='/register'>Register</a> | <a href='/login'>Login</a>
  <%if(email){%>
    <p>Logged In As: <%= email %></p>
    <form method="POST" action="/logout">
          <button type="submit" class="btn btn-primary">Logout</button>
    </form>
  <% } %>