<h2>TinyApp</h2>
  <form method="POST" action="/login">
    <p>
      <input type="text" name="username"></input>
    </p>
    <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p><%= username %></p>
