<html lang="en">
<% include ./partials/_head %>
<body style="font-size:20px; padding:50px;">
       <% include ./partials/_header %>
       <h4>Register</h4>
    <form action="/register" method="POST">
        <p>Email:</p>
        <input type='email' name="email">
        <p>Password</p>
        <input type='password' name='password'>
        <br>
        <br><button type="submit" class="btn btn-primary">Register</button>
    </form>
</body>
</html>