<html lang="en">
<% include ./partials/_head %>
<body style="font-size:20px; padding:50px;">
    <% include ./partials/_header %>
    <form method="POST" action="/urls/<%= shortURL %>">
    <p><%= shortURL %> - <%= urls[shortURL].longURL %></p>
    <p><input type="text" name="longURL" value = "<%= longURL.longURL %>"></p>
    <button type="submit" class="btn btn-primary">UpDate</button>
    </form>
</body>
</html>