<html lang="en">
<% include ./partials/_head %>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <a href='/urls/new'>Create New TinyURL</a>
  <% for(var shortURL in urls) { %>
    <form method="POST" action="/urls/<%= shortURL %>/delete">
      <ul>
        <li><%= shortURL %> - <%= urls[shortURL].longURL %>
          <button type="submit" class="btn btn-danger">Delete</button>
           <a class="btn btn-primary" href="/urls/<%= shortURL %>">Edit</a>
        </li>
      </ul>
    </form>
  <% } %>
</body>
</html>

